@charset "utf-8";

$white: white;
$sff_softred: #EF4036;
$sff_red: #D92027;
$sff_brown: #7E3227; // eye of the chicken
$sff_gold: #FCB03A;
$sff_beak: #F58020;
$sff_darkbrown: #560c06;

$primary: $sff_red;
$link: $sff_gold;
$warning: $sff_softred;
$error: $sff_red;

$success: $sff_beak;
$info: $sff_beak;
$dark: $sff_darkbrown;
$text: $sff_darkbrown;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color:saturate(darken($sff_red,10%),25%);
$navbar-height: 7rem;

@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');

.navbar-item{
    color: $white;
    font-size: 1.5rem;
}

.hero .title{
  color: $dark;
  font-family: 'Montserrat', sans-serif;
  font-size:4rem;
  font-weight:400;
}
.hero .subtitle{
  color:$dark;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  font-weight: 100;
}
.hero p {
  font-size: 1.7rem;
}