@charset "utf-8";

$white: white;
$sff_softred: #EF4036;
$sff_red: #D92027;
$sff_brown: #7E3227; // eye of the chicken
$sff_gold: #FCB03A;
$sff_beak: #F58020;
$sff_darkbrown: #560c06;

$primary: $sff_red;
$link: $sff_gold;
$warning: $sff_softred;
$error: $sff_red;

$success: $sff_beak;
$info: $sff_beak;
$dark: $sff_darkbrown;
$text: $sff_darkbrown;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color:saturate(darken($sff_red,10%),25%);
$navbar-height: 7rem;

@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');

.navbar-item{
    color: $white;
    font-size: 1.5rem;
}

.hero .title{
  color: $dark;
  font-family: 'Montserrat', sans-serif;
  font-size:4rem;
  font-weight:400;
}
.hero .subtitle{
  color:$dark;
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  font-weight: 100;
}
.hero p {
  font-size: 1.7rem;
}

.title,.subtitle {
  color:$text;
  font-family: 'Montserrat', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.footer {
  background:whitesmoke;
}

.chicken-sandwich {
  transition: all 500ms;
  transform: translateY(0%) rotate(0deg)
}
.chicken-sandwich:hover {
  transition: all 500ms;
  transform: translateY(-20%) rotate(-15deg)
}

///////////////////////
.speaker-frame {
  margin: 50px;
  height: 200px;
  width: 200px;
  transform: rotate(-45deg);
  overflow: hidden;
  margin-top: 50px;
}
.speaker-pic {
  width: 300px;
  height: 300px;
  transform: rotate(45deg) translate(-80px);
}